extends ../layouts/default

block main
  h1= title

block content
  - if (rooms.length)
    - each room in rooms
      .room
        h3
          a(href='/rooms/'+room._id, title=room.title) #{room.title}
        p= room.body

        .meta.muted
          span= formatDate(room.createdAt)
          &nbsp; - &nbsp;
          - if (room.user)
            span Author &nbsp;

            - var name = room.user.name ? room.user.name : room.user.username

            a(href="/users/"+room.user._id)= name
          &nbsp; - &nbsp;
          - if (room.tags)
            - each tag in room.tags.split(',')
              &nbsp;
              a.tag(href="/tags/"+tag)
                i.icon-tags
                |  #{tag}

    - if (pages > 1)
      .pagination
        ul
          != createPagination(pages, page)
  - else
    p.muted No rooms.&nbsp;
      a(href="/rooms/new") create one
