extends ../layouts/default

block main
  h1= room.title

block content
  .row
    .span9
      p=room.body
      .meta.muted
        - if (room.user)
          - var name = room.user.name ? room.user.name : room.user.username
          p Author -&nbsp;
            a(href="/users/"+room.user._id)= name
        p.muted= formatDate(room.createdAt, "%b %d, %Y at %I:%M %p")
        - if (room.tags)
          .tags
            - each tag in room.tags.split(',')
              a.tag(href="/tags/"+tag)
                i.icon-tags
                |  #{tag}
              &nbsp;&nbsp;
    .span3
      - if (!room.isNew && room.image && room.image.files && room.image.files.length)
        img(src=room.image.cdnUri + '/mini_' + room.image.files[0])


  p
    br
    form.center.form-inline.confirm(action="/rooms/"+room.id, method="post")
      input(type='hidden', name='_csrf', value="#{csrf_token}")
      a.btn(href='/rooms/'+room._id+'/edit', title="edit") Edit
      &nbsp;&nbsp;
      input(type="hidden", name="_method", value="DELETE")
      button.btn.btn-danger(type="submit") delete

  h1 Chat
    label(for="userName") User name: (Hit Enter) 
    input#userName(type="text", size="30")
  span#feedback
   
  p
  div#msgWindow.shadow
 
  p
  div
    br
    table
      tr
        td
          select#users(style="width: 100px")
        td
          input#msg(type="text", style="width: 600px", disabled="true")

